
<div class="stack twisted">

    <div class="summary-container quiz-summary"
        ng-class="{
            started: quiz.isStarted,
            completed: quiz.isCompleted
        }"
    >
    <div ng-cloak ng-if="currentUser && currentUser.id !== quiz.author.id" class="vote-overlay" ng-show="true">
        <span class="vote-btn vote-btn--up glyphicon glyphicon-thumbs-up"
            ng-click="voteUp(quiz)"></span>
        <span class="vote-btn vote-btn--down glyphicon glyphicon-thumbs-down"
            ng-click="voteDown(quiz)"></span>
    </div>

    <div class="stats">
        <div class="ribbon">
            <div class="votes--icon glyphicon glyphicon-heart"></div>
            <span class="votes--count">{{ quiz.stats.votes }}</span>

        </div>
    </div>

    <div class="content">
        <a ui-sref="quiz({id: quiz.id})" class="title quiz-title">
            {{ quiz.title }}
            <span class="badge">{{ quiz.questions.length }}</span>
        </a>
        <div class="description quiz-description">
        {{ quiz.description }}
        </div>
    </div>
    <div class="tags">
        <div class="tag" ng-repeat="tag in quiz.tags">
            {{tag.text }}
        </div>
    </div>
    <div class="author">
        <div class="created-at">
            created at
            {{ quiz.createdAt | date}} at {{ quiz.createdAt | date:'shortTime'}}
            by
        </div>
        <div class="avatar">
            <img ng-src="{{quiz.author.thumbnailUrl}}">
            <a ui-sref="user({id: quiz.author.id})" class="username">{{ quiz.author.username }}</a>
            <div class="reputation">
                <span class="reputation--icon"><img src="/images/icons/star-whole-blue.png"></span>
                <span class="reputation--score">{{ quiz.author.stats.reputation }}</span>
            </div>
        </div>
    </div>


</div>
</div>
