
<div>
    <div class="header__status--logged-out__login">

        <button type="button" class="btn btn-success" title="Login"
            data-placement="bottom"
            data-template="/app/_partials/header/partials/logged-out.login.popover.tpl.html"
            data-animation="am-flip-x"
            bs-popover>
            Log In
        </button>
    </div>

    <div class="header__status--logged-out__signup">
        <button type="button" class="btn btn-danger" title="Sign Up"
            data-placement="bottom"
            data-template="/app/_partials/header/partials/logged-out.signup.popover.tpl.html"
            data-animation="am-flip-x"
            bs-popover>
            Sign Up
        </button>
    </div>


    <!--<div class="header__status--logged-out__signup" style="color: white">-->
        <!--<button class="btn btn-primary" ng-href="/instalogin?ref={{ currentUrl }}">instaLogin</button>-->
    <!--</div>-->

</div>

