
<style>
    .sandbox .well-sm{
        padding: 2px;
        margin-bottom: 1px;
    }

</style>


<h1>Search</h1>
<div class="sandbox search-container" ng-controller="sandboxSearchCtrl">

    <div search="Question" search-results="searchResults" pagination-name="search" search-term="searchTerm"></div>


    <div pagination="search"></div>


    <div class="" ng-repeat="result in searchResults">
        <div new-question-summary="result"
            highlight-text="searchTerm"
            click-handler=""
            ></div>
    </div>

    <div pagination="search"></div>




</div>


