

.answer--multiple-choice {
    & .option--text.active{
        background: #FDFFE4;
    }
    & .option--text.correct{
        background: #E4FFE4;
    }
    & .option--text.wrong{
        background: #FFE4E4;
    }
}

.question-answer.question-answer--true-or-false{
    & .btn {
        opacity: 0.4;
    }
    & .btn.active {
        opacity: 1 !important;
    }
    & .btn:not(.active) {
        background: gray !important;
    }
}

.question-answer--submit{
    & .btn{
        /*margin-left: 35px;*/
    }

    & .login-notice{
        color: gray;
        font-style: italic;
    }

}
