
.tag-style{
    background: $tagColor;
    padding: 3px;
    /*box-shadow: 1px 1px 1px black;*/
    box-shadow: 1px 1px 5px -2px #000;
    color: whitesmoke;
    color: black;
    border-radius: 3px; 
}

